In [11]:
import pandas as pd

# --- Load the datasets ---
# Update these paths to your actual file locations
try:
    flights_df = pd.read_csv('C:/Users/jonha\OneDrive - MSFT/Documents/Labmentix/Final_project_data_archive/flights.csv')
    airlines_df = pd.read_csv('C:/Users/jonha/OneDrive - MSFT/Documents/Labmentix/Final_project_data_archive/airlines.csv')
    airports_df = pd.read_csv('C:/Users/jonha/OneDrive - MSFT/Documents/Labmentix/Final_project_data_archive/airports.csv')
    
    print("All files loaded successfully!")
    print(f"Flights data has {len(flights_df)} rows.")

except FileNotFoundError as e:
    print(f"Error: {e}. Please double-check your file paths.")

C:\Users\jonha\AppData\Local\Temp\ipykernel_11824\1774335552.py:6: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights_df = pd.read_csv('C:/Users/jonha\OneDrive - MSFT/Documents/Labmentix/Final_project_data_archive/flights.csv')

All files loaded successfully!
Flights data has 5819079 rows.

In [12]:
# List of columns that report delay reasons
delay_columns = [
    'AIR_SYSTEM_DELAY', 
    'SECURITY_DELAY', 
    'AIRLINE_DELAY', 
    'LATE_AIRCRAFT_DELAY', 
    'WEATHER_DELAY'
]

# The .fillna(0) method replaces all NaN (empty) values in these columns with 0
flights_df[delay_columns] = flights_df[delay_columns].fillna(0)

print("Missing values in delay columns have been replaced with 0.")

Missing values in delay columns have been replaced with 0.

In [13]:
# Create a dictionary of the date columns
date_cols = {'year': flights_df['YEAR'], 'month': flights_df['MONTH'], 'day': flights_df['DAY']}

# The pd.to_datetime function efficiently converts these columns into a datetime object
flights_df['FLIGHT_DATE'] = pd.to_datetime(date_cols)

print("A 'FLIGHT_DATE' column has been created.")

# We can now drop the original year, month, and day columns if we want
# flights_df = flights_df.drop(columns=['YEAR', 'MONTH', 'DAY'])

A 'FLIGHT_DATE' column has been created.

In [14]:
# Merge flights with airlines to get the full airline name
# We are joining where flights_df['AIRLINE'] matches airlines_df['IATA_CODE']
master_df = pd.merge(flights_df, airlines_df, left_on='AIRLINE', right_on='IATA_CODE', how='left')

# Merge the result with airports for the ORIGIN airport information
master_df = pd.merge(master_df, airports_df, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='left', suffixes=('', '_ORIGIN'))

# Merge the result again with airports for the DESTINATION airport information
master_df = pd.merge(master_df, airports_df, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='left', suffixes=('', '_DEST'))

print("All data has been merged into a single master DataFrame.")

# You can view the first few rows of your new combined table
master_df.head()

All data has been merged into a single master DataFrame.

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,COUNTRY,LATITUDE,LONGITUDE,IATA_CODE_DEST,AIRPORT_DEST,CITY_DEST,STATE_DEST,COUNTRY_DEST,LATITUDE_DEST,LONGITUDE_DEST
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,USA,61.17432,-149.99619,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,USA,33.94254,-118.40807,PBI,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,USA,37.61900,-122.37484,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,USA,33.94254,-118.40807,MIA,Miami International Airport,Miami,FL,USA,25.79325,-80.29056
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,USA,47.44898,-122.30931,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619

In [ ]:
# Define the path for the new clean CSV file
clean_csv_path = 'C:/Users/Public/flights_clean_data.csv'

print("Exporting the clean DataFrame to a new CSV file...")
print(f"File will be saved to: {clean_csv_path}")

# Export the DataFrame to CSV. index=False prevents writing row numbers to the file.
master_df.to_csv(clean_csv_path, index=False)

print("Export complete!")

Exporting the clean DataFrame to a new CSV file...
File will be saved to: C:/Users/Public/flights_clean_data.csv